{% extends 'base.html' %}

{% block content %}
 <!-- Home -->
<section class="main">
    <div>
         <img src="../../static/images/flavien-GJuXN4uyB2U-unsplash.jpg" class="index-bg" alt="">
    </div>
    <h1 class="index-text">Welcome to My Car World!
    </h1>  
</section>

<footer>
    <div class="footport">
        <div class="contact" id="info">
            <div class="footport-head">
                <h4>Our Info</h4>   
            </div>
            <div class="email">
                <p class="port-text"><i class="far fa-envelope"></i> Email: carinventory@gmail.com</p>
            </div>
            <div class="phone">
                <p class="port-text"><i class="fas fa-mobile"></i> Phone:(551)-295-9634</p>
            </div>
            <div class="whatsapp">
                <p class="port-"><i class="fa-brands fa-whatsapp"></i> Whatsapp:(551)-295-9634</p>
            </div>
            <div class="viber">
                <p class="port-text"><i class="fa-brands fa-whatsapp"></i> Viber:(551)-295-9634</p>
            </div>
        </div>
        <div class="dealerships">
            <div class="footport-head">
                <h4>Dealerships</h4>
            </div>
            <div class="companies">
                <a href="https://extremesportscars.com/" target="_blank"><p class="port-text">Extreme Sportscars</p></a>
            </div>
            <div class="companies">
                <a href="https://www.ultimatems.com/" target="_blank"><p class="port-text">Ultimate Motorsports </p></a>
            </div>
            <div class="companies">
                <a href="https://www.luxuryleasepartners.com/index.cfm?gclid=CjwKCAjwscGjBhAXEiwAswQqNEYbsguvDqVijbyM4k5lWaEkwuXyO_TQAzGwOg1sFH12DxOdD7pKlxoC7-0QAvD_BwE" target="_blank"><p class="port-text">Luxury Lease Partners</p></a>
            </div>
            <div class="companies">
                <a href="https://elitemotorsports.com/" target="_blank"><p class="port-text">Elite Motorsports</p></a>
            </div> 
        </div>
        <div class="helpful-websites">
            <div class="footport-head">
                <h4>Helpful Websites</h4>
            </div>
            <div class="websites">
                <a href="https://www.sportscarmarket.com/" target="_blank"><p class="port-text">Sports Car Market</p></a>
            </div> 
            <div class="websites">
                <a href="https://www.motortrend.com/style/sports-car/" target="_blank"><p class="port-text">Motortrend</p></a>
            </div> 
            <div class="websites">
                <a href="https://www.hagerty.com/drivers-club/magazine/?ef_id=CjwKCAjwscGjBhAXEiwAswQqNGVjKnbwg8f5ulquuNsTzxelvYExMFcX1S3uiTX7P1tKhrBjHrOqDhoC9jYQAvD_BwE:G:s&s_kwcid=AL!5126!3!651594784235!b!!g!!car%20magazine&aff%3Dgusnbdcb&utm%5Fsource%3Dgoogle&utm%5Fmedium%3Dpaid%5Fsearch&utm%5Fcampaign%3Dhdc&utm%5Fcontent%3Dtext%5F651594784235&utm%5Fterm%3Dus%5Fnb&gclid=CjwKCAjwscGjBhAXEiwAswQqNGVjKnbwg8f5ulquuNsTzxelvYExMFcX1S3uiTX7P1tKhrBjHrOqDhoC9jYQAvD_BwE&ef_id=Y8I70gALh-hGwgAo:20230526205522:s&nclid=ulkqNxxKq8zOyPvnR8rhQfdnMQcubpF8G17HS_fvaWvbHW7vWr0X6Iq5ELRMOJIF"><p class="port-text">Hagerty</p></a>
            </div>  
            <div class="websites">
                <a href="https://www.motorauthority.com/news/sport-cars"><p class="port-text">Motor Authority</p></a>
            </div> 

        </div>
        
    </div>
    <div class="copyright">
        <p class="foot-text">&copy; 2023 Car Inventory</p>
    </div> 

</footer>








</body>
</html>
{% endblock %}